In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv("media prediction and its cost.csv")
df.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79

df.columns

In [3]:
df.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [5]:
df.info

<bound method DataFrame.info of          food_category food_department     food_family  \
0      Breakfast Foods    Frozen Foods            Food
1      Breakfast Foods    Frozen Foods            Food
2      Breakfast Foods    Frozen Foods            Food
3      Breakfast Foods    Frozen Foods            Food
4      Breakfast Foods    Frozen Foods            Food
...                ...             ...             ...
60424        Specialty        Carousel  Non-Consumable
60425        Specialty        Carousel  Non-Consumable
60426        Specialty        Carousel  Non-Consumable
60427        Specialty        Carousel  Non-Consumable
60428              NaN             NaN             NaN

       store_sales(in millions)  store_cost(in millions)  \
0                          7.36                   2.7232
1                          5.52                   2.5944
2                          3.68                   1.3616
3                          3.68                   1.1776
4                          4.08                   1.4280
...                         ...                      ...
60424                      1.60                   0.4960
60425                      5.52                   2.5392
60426                      8.28                   2.5668
60427                      9.20                   4.2320
60428                 395261.40                      NaN

       unit_sales(in millions)         promotion_name sales_country  \
0                          4.0           Bag Stuffers           USA
1                          3.0  Cash Register Lottery           USA
2                          2.0    High Roller Savings           USA
3                          2.0  Cash Register Lottery           USA
4                          3.0       Double Down Sale           USA
...                        ...                    ...           ...
60424                      1.0          Price Cutters           USA
60425                      2.0       Weekend Markdown           USA
60426                      3.0             Sales Days        Canada
60427                      4.0     Super Duper Savers        Canada
60428                      NaN                    NaN           NaN

      marital_status gender  ...  grocery_sqft frozen_sqft meat_sqft  \
0                  M      F  ...       18670.0      5415.0    3610.0
1                  M      M  ...       18670.0      5415.0    3610.0
2                  S      F  ...       18670.0      5415.0    3610.0
3                  M      F  ...       18670.0      5415.0    3610.0
4                  M      M  ...       18670.0      5415.0    3610.0
...              ...    ...  ...           ...         ...       ...
60424              S      F  ...       15321.0      4294.0    2863.0
60425              M      M  ...       15321.0      4294.0    2863.0
60426              S      M  ...       27463.0      4193.0    2795.0
60427              S      F  ...       27463.0      4193.0    2795.0
60428            NaN    NaN  ...           NaN         NaN       NaN

      coffee_bar video_store  salad_bar prepared_food  florist  \
0            1.0         1.0        1.0           1.0      1.0
1            1.0         1.0        1.0           1.0      1.0
2            1.0         1.0        1.0           1.0      1.0
3            1.0         1.0        1.0           1.0      1.0
4            1.0         1.0        1.0           1.0      1.0
...          ...         ...        ...           ...      ...
60424        1.0         0.0        0.0           0.0      0.0
60425        1.0         0.0        0.0           0.0      0.0
60426        1.0         0.0        0.0           0.0      1.0
60427        1.0         0.0        0.0           0.0      1.0
60428        NaN         NaN        NaN           NaN      NaN

                    media_type    cost
0           Daily Paper, Radio  126.62
1           Daily Paper, Radio   59.86
2           Daily Paper, Radio   84.16
3              In-Store Coupon   95.78
4                        Radio   50.79
...                        ...     ...
60424             Sunday Paper   69.42
60425  Sunday Paper, Radio, TV   67.51
60426             Sunday Paper  132.88
60427       Daily Paper, Radio   87.76
60428                      NaN     NaN

[60429 rows x 40 columns]>

In [7]:
df.describe()

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),total_children,avg_cars_at home(approx),num_children_at_home,avg_cars_at home(approx).1,SRP,gross_weight,net_weight,...,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
count,60429.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,...,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000
mean,13.081845,2.619460,3.093169,2.533875,2.200271,0.829351,2.200271,2.115258,13.806433,11.796289,...,27988.477494,19133.799696,5312.852552,3541.846280,0.612646,0.354157,0.587956,0.587956,0.562603,99.262366
std,1607.886990,1.453009,0.827677,1.490165,1.109644,1.303424,1.109644,0.932829,4.622693,4.682986,...,5701.022090,3987.395735,1575.907263,1050.471635,0.487150,0.478261,0.492207,0.492207,0.496069,30.011257
min,0.510000,0.163200,1.000000,0.000000,0.000000,0.000000,0.000000,0.500000,6.000000,3.050000,...,20319.000000,13305.000000,2452.000000,1635.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.790000
25%,3.810000,1.500000,3.000000,1.000000,1.000000,0.000000,1.000000,1.410000,9.700000,7.710000,...,23593.000000,16232.000000,4746.000000,3164.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.650000
50%,5.940000,2.385600,3.000000,3.000000,2.000000,0.000000,2.000000,2.130000,13.600000,11.600000,...,27694.000000,18670.000000,5062.000000,3375.000000,1.000000,0.000000,1.000000,1.000000,1.000000,98.520000
75%,8.670000,3.484025,4.000000,4.000000,3.000000,1.000000,3.000000,2.790000,17.700000,16.000000,...,30797.000000,22123.000000,5751.000000,3834.000000,1.000000,1.000000,1.000000,1.000000,1.000000,126.620000
max,395261.400000,9.726500,6.000000,5.000000,4.000000,5.000000,4.000000,3.980000,21.900000,20.800000,...,39696.000000,30351.000000,9184.000000,6122.000000,1.000000,1.000000,1.000000,1.000000,1.000000,149.750000

In [8]:
df.value_counts()

food_category   food_department  food_family     store_sales(in millions)  store_cost(in millions)  unit_sales(in millions)  promotion_name          sales_country  marital_status  gender  total_children  education            member_card  occupation      houseowner  avg_cars_at home(approx)  avg. yearly_income  num_children_at_home  avg_cars_at home(approx).1  brand_name  SRP   gross_weight  net_weight  recyclable_package  low_fat  units_per_case  store_type           store_city     store_state  store_sqft  grocery_sqft  frozen_sqft  meat_sqft  coffee_bar  video_store  salad_bar  prepared_food  florist  media_type               cost
Baking Goods    Baking Goods     Food            0.53                      0.2279                   1.0                      Pick Your Savings       USA            S               M       3.0             Bachelors Degree     Bronze       Management      N           4.0                       $70K - $90K         0.0                   4.0                         BBB Best    0.53  12.80         11.80       1.0                 0.0      28.0            Small Grocery        San Francisco  CA           22478.0     15321.0       4294.0       2863.0     1.0         0.0          0.0        0.0            0.0      Daily Paper              57.51     1
Paper Products  Household        Non-Consumable  9.80                      3.3320                   4.0                      Go For It               Mexico         M               F       4.0             Bachelors Degree     Golden       Management      N           3.0                       $70K - $90K         4.0                   3.0                         Cormorant   2.45  6.11          4.11        1.0                 0.0      29.0            Deluxe Supermarket   Hidalgo        Zacatecas    30584.0     21938.0       5188.0       3458.0     1.0         1.0          1.0        1.0            1.0      Bulk Mail                87.07     1
                                                 9.45                      3.2130                   3.0                      High Roller Savings     USA            S               F       2.0             Bachelors Degree     Silver       Management      Y           2.0                       $70K - $90K         0.0                   2.0                         Sunset      3.15  9.38          8.38        1.0                 0.0      35.0            Gourmet Supermarket  Beverly Hills  CA           23688.0     15337.0       5011.0       3340.0     1.0         1.0          1.0        1.0            1.0      Sunday Paper, Radio, TV  95.55     1
                                                                                                                             Three for One           Mexico         S               M       3.0             Bachelors Degree     Bronze       Professional    Y           2.0                       $50K - $70K         0.0                   2.0                         Sunset      3.15  9.38          8.38        1.0                 0.0      35.0            Supermarket          Orizaba        Veracruz     34791.0     26354.0       5062.0       3375.0     0.0         0.0          1.0        1.0            0.0      In-Store Coupon          125.48    1
                                                                           3.3075                   3.0                      Two Day Sale            USA            S               M       5.0             Graduate Degree      Bronze       Management      Y           3.0                       $130K - $150K       0.0                   3.0                         Sunset      3.15  9.38          8.38        1.0                 0.0      35.0            Supermarket          Seattle        WA           21215.0     13305.0       4746.0       3164.0     1.0         0.0          0.0        0.0            0.0      Radio                    91.28     1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
Drinks          Beverages        Drink           8.52                      3.1524                   3.0                      Dollar Cutters          USA            S               M       3.0             High School Degree   Bronze       Skilled Manual  N           2.0                       $30K - $50K         0.0                   2.0                         Fabulous    2.84  14.50         12.50       0.0                 0.0      23.0            Supermarket          Seattle        WA           21215.0     13305.0       4746.0       3164.0     1.0         0.0          0.0        0.0            0.0      Street Handout           131.46    1
                                                                                                                             Two for One             Mexico         M               F       4.0             Bachelors Degree     Golden       Professional    Y           2.0                       $50K - $70K         3.0                   2.0                         Fabulous    2.84  14.50         12.50       0.0                 0.0      23.0            Mid-Size Grocery     Hidalgo        Zacatecas    38382.0     30351.0       4819.0       3213.0     0.0         0.0          0.0        0.0            0.0      Cash Register Handout    123.63    1
                                                                           3.2376                   3.0                      Price Cutters           USA            M               F       1.0             Graduate Degree      Bronze       Management      Y           4.0                       $90K - $110K        1.0                   4.0                         Fabulous    2.84  14.50         12.50       0.0                 0.0      23.0            Gourmet Supermarket  Beverly Hills  CA           23688.0     15337.0       5011.0       3340.0     1.0         1.0          1.0        1.0            1.0      Product Attachment       129.20    1
                                                                           3.3228                   3.0                      I Cant Believe It Sale  Canada         S               M       3.0             High School Degree   Bronze       Skilled Manual  N           3.0                       $30K - $50K         0.0                   3.0                         Fabulous    2.84  14.50         12.50       0.0                 0.0      23.0            Deluxe Supermarket   Vancouver      BC           23112.0     16418.0       4016.0       2678.0     1.0         1.0          1.0        1.0            1.0      Daily Paper, Radio, TV   102.47    1
Vegetables      Produce          Food            19.55                     6.6470                   5.0                      Green Light Days        USA            S               F       3.0             Partial High School  Silver       Professional    Y           2.0                       $150K +             0.0                   2.0                         Hermanos    3.91  17.20         15.20       1.0                 0.0      11.0            Deluxe Supermarket   Salem          OR           27694.0     18670.0       5415.0       3610.0     1.0         1.0          1.0        1.0            1.0      Daily Paper              66.27     1
Length: 60428, dtype: int64

In [10]:
df.columns[df.dtypes=='object']

Index(['food_category', 'food_department', 'food_family', 'promotion_name',
       'sales_country', 'marital_status', 'gender', 'education', 'member_card',
       'occupation', 'houseowner', 'avg. yearly_income', 'brand_name',
       'store_type', 'store_city', 'store_state', 'media_type'],
      dtype='object')